@tailwind base;
@tailwind components;
@tailwind utilities;

/*Font*/
@font-face {
  font-family: "Sarala";
  src: url("/fonts/Sarala-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Sarala", sans-serif;
}

.p-carousel {
  height: min-content;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

.btn-s {
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#btn2 {
  font-size: 1rem;
  padding: 1rem 1rem;
}

.btn:active {
  scale: 0.92;
}

/*SPINER*/

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#fff 16px, transparent 0),
    linear-gradient(#2176f6 16px, transparent 0),
    linear-gradient(#2176f6 16px, transparent 0),
    linear-gradient(#fff 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.p-submenu-list {
  background-color: #1b2335;
  border-radius: 5px;
}

div.menu-mobile > ul.p-menubar-root-list {
  left: auto;
  right: 0;
  width: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: #2176f6 #1b2335;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2176f6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
